.firstBlock{
    color: white;
    background-color: #1F2937;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 100px;
}

.header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex: auto;
    padding-bottom: 80px;
}

.logo{
    font-weight: 2000;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: auto;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.firstContent{
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 200px;
    flex-grow: auto;
}

img{
    max-width: 40%;
}

button{
    background-color: #3882F6;
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: 30%;
    border: none;
    outline: none;
    box-shadow: none;
    margin-top: 8px;
}

.firstText{
    width: 40%;
    padding-right: 20px;
}

.awesomeFont{
    font-size: 48px;
    font-weight: bolder;
}

.links{
    display: flex;
    gap: 16px;
}





.secondBlock{
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 100px;
    padding-top: 30px;
}

.randomInfo{
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 50px;
}
.cards{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.card{
    width: 150px;
    height: 150px;
    border: 4px solid;
    border-radius: 14px;
    border-color: #3882F6;
    
}
.cardSize{
    width: 150px;
    text-align: center;
}



.thirdBlock{
    background-color: #E5E7EB;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.inspiringQuote{
    width: 60%;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.thor{
    width: 55%;
    text-align: end;
    font-weight: bold;
    font-size: 19px;
}



.fourthBlock{
    width: 100%;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blueBox{
    width: 70%;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    background-color: #3882F6;
    box-sizing: border-box;
    color: #E5E7EB;
    
}

.blueBoxContent{
    display: flex;
    flex-direction: column;
}

.buttonFourth{
    border: 2px solid #E5E7EB;
    width: 15%;
}


.fifthBlock{
    width: 100%;
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 20px;
}